In [57]:
import pandas as pd 
import numpy as np

In [58]:
df = pd.read_csv('sales.csv')
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,COFFEE,2.0,2.0,4.0,CREDIT CARD,TAKEAWAY,NaN
1,TXN_4977031,CAKE,4.0,3.0,12.0,CASH,IN-STORE,NaN
2,TXN_4271903,COOKIE,4.0,1.0,NaN,CREDIT CARD,IN-STORE,NaN
3,TXN_7034554,SALAD,2.0,5.0,10.0,NOT GIVEN,NOT SPECIFIED,NaN
4,TXN_3160411,COFFEE,2.0,2.0,4.0,DIGITAL WALLET,IN-STORE,NaN

In [59]:
df["Item"] = (
df["Item"] 
    .astype (str)
    .str.strip()
    .str.upper()
    .replace (["ERROR","UNKNOWN","","NaN"],np.nan)
    .fillna ("NotSpecified ")
)

In [60]:
df ["Total Spent"] = pd.to_numeric(
  df["Total Spent"] 
      .astype (str)
      .str.strip(),
     errors = "coerce"
)

In [61]:

df["Quantity"] = pd.to_numeric(
    df["Quantity"].astype(str).str.strip(),
    errors="coerce"
)

df["Price Per Unit"] = pd.to_numeric(
    df["Price Per Unit"].astype(str).str.strip(),
    errors="coerce"
)

In [62]:
df["Payment Method"] =(
    df["Payment Method"]
    .astype(str)
    .str.strip()
    .str.upper()
    .replace(["ERRORS","UNKNOWN","","NaN"],np.nan)
    .fillna("Not Sepcified")
)

In [63]:

df.Location=(
    df["Location"]
    .astype(str)
    .str.strip()
    .str.upper()
    .replace(["ERRORS","","NaN","UNKNOWN"],np.nan)
    .fillna("Not Specidfied")
)

In [64]:
df["Transaction Date"]= pd.to_datetime( 
df["Transaction Date"].astype(str).str.strip(),
errors="coerce"
)

In [65]:
df.to_csv("cleaned_dataset",index=False)

In [66]:
df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,COFFEE,2.0,2.0,4.0,CREDIT CARD,TAKEAWAY,NaT
1,TXN_4977031,CAKE,4.0,3.0,12.0,CASH,IN-STORE,NaT
2,TXN_4271903,COOKIE,4.0,1.0,NaN,CREDIT CARD,IN-STORE,NaT
3,TXN_7034554,SALAD,2.0,5.0,10.0,NOT GIVEN,NOT SPECIFIED,NaT
4,TXN_3160411,COFFEE,2.0,2.0,4.0,DIGITAL WALLET,IN-STORE,NaT

In [67]:
df.describe()

        Quantity  Price Per Unit  Total Spent Transaction Date
count  96.000000       96.000000    94.000000                0
mean    3.354167        3.151042    10.670213              NaT
min     1.000000        1.000000     1.000000              NaT
25%     2.000000        2.000000     5.000000              NaT
50%     4.000000        3.000000    10.000000              NaT
75%     5.000000        4.000000    15.000000              NaT
max     5.000000        5.000000    25.000000              NaT
std     1.376335        1.252618     6.038654              NaN

In [68]:
df.isna().sum()

Transaction ID        0
Item                  0
Quantity              4
Price Per Unit        4
Total Spent           6
Payment Method        0
Location              0
Transaction Date    100
dtype: int64

In [69]:
df.to_csv("sales.csv", index= False)

In [70]:
df.to_csv('cleaned_sales.csv',index=False)

In [71]:
df_check = pd.read_csv("sales.csv")
df_check.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,COFFEE,2.0,2.0,4.0,CREDIT CARD,TAKEAWAY,NaN
1,TXN_4977031,CAKE,4.0,3.0,12.0,CASH,IN-STORE,NaN
2,TXN_4271903,COOKIE,4.0,1.0,NaN,CREDIT CARD,IN-STORE,NaN
3,TXN_7034554,SALAD,2.0,5.0,10.0,NOT GIVEN,NOT SPECIFIED,NaN
4,TXN_3160411,COFFEE,2.0,2.0,4.0,DIGITAL WALLET,IN-STORE,NaN